<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-label>Temperature Unit</ion-label>
      <ion-select
        [(ngModel)]="settings.temperatureUnit"
        (ionChange)="updateTemperatureUnit($event)"
        slot="end"
        interface="popover"
      >
        <ion-select-option value="celsius">Celsius (°C)</ion-select-option>
        <ion-select-option value="fahrenheit">Fahrenheit (°F)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle
        [(ngModel)]="isDarkMode"
        (ionChange)="toggleTheme()"
        slot="end"
      ></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>